@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.h, .m, .s, .p, .pp {
    color: #93F0F5;
    font-size: 80px;
    font-family: Orbitron;
}

.h, .m, .s {
    display: flex;
    justify-content: center;
}

.p, .pp{
    display: flex;
    justify-content: center;
    font-size: 40px;
}